[req]
default_bits        = 4096
distinguished_name  = req_distinguished_name
req_extensions      = req_ext  # Используем расширения для SAN
prompt              = no

[req_distinguished_name]
C  = RU
ST = MO
L  = Moscow
O  = Your Company
OU = Your Department
CN = localhost

[req_ext]
subjectAltName = DNS:localhost

[alt_names]
DNS.1 = localhost
DNS.2 = yourdomain.com  # Замените на ваш домен